In [36]:
import pandas
import pickle
import matplotlib as plt
import numpy as np
from patsy import *
import sklearn
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression

In [37]:
# Pickling functions
def pickle_it(data, filename):
    with open(filename, "wb") as picklefile:
        pickle.dump(data, picklefile)

def load_pickle(filename):
    with open(filename, "rb") as picklefile: 
        return pickle.load(picklefile)

In [38]:
d = load_pickle('fixyear.pkl')
d1 = load_pickle('fixyearfull.pkl')

In [39]:
len(d1)

451

In [40]:
df = pandas.DataFrame(d)
df.dtypes

Budget                float64
Gross                 float64
Metascore             float64
OpeningWkd            float64
ReleaseDate    datetime64[ns]
Runtime               float64
Title                  object
Year                  float64
dtype: object

In [41]:
y, X = dmatrices('Gross ~ Budget + Year + OpeningWkd + Runtime + Metascore', data = df, return_type = 'dataframe')

In [42]:
y

           Gross
38     189412677
87       1000878
104     23296694
145     83348920
166    196573705
196     35287788
203         4091
213     55747724
220    261437578
234     26687172
251    267652016
262      4158805
274        92007
333    108012170
343   1535407982
351      3378087
354    268488329
459    400736600
463    103400692
477      4151626
483     42194060
512       641760
526    217326336
597     90646554
605    101217900
608     54132596
643       139981
662    123207194
664     34351136
665     21379315
...          ...
3524     4477314
3530     2456310
3551   191450875
3560   353852556
3588    73661010
3628     1448087
3657    35154336
3673     2996462
3699    17168517
3810   380838870
3824    63992328
3826   200807262
3827     2345582
3847     8460990
3881   127706877
3946    64459316
3951     1007483
3973     9454609
3988    55994557
4005   124870275
4024      935271
4029     4356423
4043   142614158
4045      675438
4054       63260
4074   135381507
4089      778834
4101    13596911
4109    63071133
4112    20999103

[183 rows x 1 columns]

In [43]:
X

      Intercept     Budget  Year  OpeningWkd  Runtime  Metascore
38            1  165000000  2012    49038712      101         72
87            1   22000000  2011       57585       91         71
104           1  150000000  2008    63106589       89         61
145           1  132000000  2014    25447444       92         53
166           1   90000000  2009    41690382       94         50
196           1   39000000  2012    11412213       87         74
203           1   34000000  2013        4091       85         47
213           1   55000000  2013    15805237       91         38
220           1   92000000  2004    70467623      115         90
234           1   30000000  2011      159369       63         74
251           1   60000000  2001    42347760       90         84
262           1   59000000  2002    46312454       81         60
274           1   10000000  2002     3583114       73         65
333           1   63000000  2011     1392740       95         41
343           1  127500000  2000    38854851       82         56
351           1   40000000  2009     6702923       94         53
354           1  200000000  2013    82429469      104         65
459           1  150000000  2013    67391326      102         74
463           1  145000000  2012    23773465       97         57
477           1   75000000  2004     3692292       90         48
483           1   70000000  2009    12286129       91         39
512           1  300000000  1998    31036678       96         35
526           1   60000000  2007    44307417       92         39
597           1   60000000  1998    17195160       83         72
605           1   70000000  1998      725559       99         64
608           1   34000000  2007      948791       87         41
643           1  110000000  2004    13880771       76         50
662           1  135000000  2011     1638613      107         75
664           1  120000000  1998      291121       95         77
665           1  150000000  2011     6914488       88         49
...         ...        ...   ...         ...      ...        ...
3524          1   51000000  2006    15820864       90         42
3530          1   48000000  1999     5732614       86         85
3551          1  200000000  2011    66135507      106         57
3560          1  175000000  2015    90440272       94         94
3588          1   75000000  2006    22217226       91         68
3628          1  137000000  2001    11408853      106         49
3657          1    8500000  2008      895300       98         35
3673          1   20000000  2010     9106906       90         36
3699          1  165000000  2010    43732319       98         74
3810          1   94000000  2003    70251710      100         90
3824          1  130000000  2011    13397346      100         50
3826          1  260000000  2010    48767052      100         71
3827          1   40000000  2005      385078       77         83
3847          1   70000000  2013     3715931       88         25
3881          1   85000000  2007    34440317      107         75
3946          1  149000000  2006    18814323       85         74
3951          1   85000000  2006    23624548       83         49
3973          1   70000000  1998    22745143       88         71
3988          1   60000000  2012    14087050       92         72
4005          1  100000000  2009     1583544       90         66
4024          1   10000000  2001    13455016       82         43
4029          1   85000000  2007    17640249       85         64
4043          1  110000000  2011    35611637      103         30
4045          1   35000000  2005     1096329       76         45
4054          1   14000000  2006       10800      105         57
4074          1  150000000  2005    40049778       81         48
4089          1    7300000  2007       37118       96         90
4101          1   75000000  2001     5271248       95         57
4109          1   12000000  1996    20114233       81         64
4112          1   40000000  2009     1517312       87         83

[183 rows x 6 columns]

In [44]:
model = sm.OLS(y,X)

In [45]:
results = model.fit()

In [46]:
print type(model)
print type(results)

<class 'statsmodels.regression.linear_model.OLS'>
<class 'statsmodels.regression.linear_model.RegressionResultsWrapper'>

In [47]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Gross   R-squared:                       0.222
Model:                            OLS   Adj. R-squared:                  0.200
Method:                 Least Squares   F-statistic:                     10.08
Date:                Tue, 06 Oct 2015   Prob (F-statistic):           1.67e-08
Time:                        21:50:36   Log-Likelihood:                -3692.4
No. Observations:                 183   AIC:                             7397.
Df Residuals:                     177   BIC:                             7416.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   6.287e+09   4.44e+09      1.414      0.159     -2.49e+09  1.51e+10
Budget        -0.0177      0.033     -0.530      0.597        -0.083     0.048
Year       -3.131e+06   2.22e+06     -1.408      0.161     -7.52e+06  1.26e+06
OpeningWkd     2.8932      0.443      6.534      0.000         2.019     3.767
Runtime     1.741e+05   1.17e+06      0.148      0.882     -2.14e+06  2.49e+06
Metascore   2.412e+05   6.58e+05      0.367      0.714     -1.06e+06  1.54e+06
==============================================================================
Omnibus:                      257.036   Durbin-Watson:                   1.930
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22206.049
Skew:                           5.960   Prob(JB):                         0.00
Kurtosis:                      55.632   Cond. No.                     1.63e+11
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.63e+11. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [48]:
results = smf.ols(formula = "Gross ~ Budget + OpeningWkd + Runtime + Year + Metascore", data = df).fit()

In [49]:
print results.params

Intercept     6.286774e+09
Budget       -1.765267e-02
OpeningWkd    2.893248e+00
Runtime       1.740610e+05
Year         -3.131031e+06
Metascore     2.411551e+05
dtype: float64

In [50]:


model = LinearRegression()
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [51]:
model.score(X,y)

0.22157704216364571

In [52]:
model.coef_

array([[  0.00000000e+00,  -1.76526700e-02,  -3.13103095e+06,
          2.89324819e+00,   1.74060990e+05,   2.41155101e+05]])

In [53]:
model.intercept_

array([  6.28677367e+09])

In [62]:
import numpy as np
import pandas
from pandas import DataFrame, Series
import statsmodels.formula.api as sm
from sklearn.linear_model import LinearRegression
import scipy, scipy.stats

df.plot.scatter(df.Gross, df.Budget, alpha = 0.5)

AttributeError: 'function' object has no attribute 'scatter'